.App {
  width: 100%;
  margin: 10% auto;
}

.editor-container{
  display: flex;
  min-height: 45em;
  height: 100%;
  padding:0 5%;
}

.json-editor{
  width: 100%;
  height: 91%;
  background: #333;
  font-size: 18px;
  color:white;
  resize: none;
}

.new-form{
  width: 100%;
  padding: 20px 40px;
  border:1px solid lightgray;
  margin:35px 10px;
}

.editor-head{
  background-color: #f4f4f4;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-box{
  width:100%;
  text-align: center;
}

.create-btn{
  width: 100%;
}

